html,
* {
    box-sizing: content-box !important;
    background-image: url(../assets/img/bg-01.jpg);
}

body{
 font-family: 'Inconsolata', monospace !important;
background: linear-gradient(to left, rgba(255, 255, 255, 1.0), rgba(242, 242, 242, 1.0)) !important;
}

.imglogin {
    margin: -20px 0 0 -5px !important;
    position: absolute;
    width: 300px;
    height: 345px;
}
.form-control {
    margin-left: 30px !important;
    border-radius: 20px !important;
}

input[type=text]{
    border:none;
    background-color :rgb(240, 240, 240);
}

input[type=email]{
    border:none;
    background-color :rgb(240, 240, 240);
}

input[type=password]{
    border:none;
    background-color :rgb(240, 240, 240);
}

input[type=password-confirm]{
    border:none;
    background-color :rgb(240, 240, 240);
}

.btn {
    margin-left: 100px !important;
    margin-top: 15px;
    width: 300px;
    height: 30px;
    border-radius: 0px !important;
    border:2px solid black !important;
}

.btn:hover {
    background-color: black !important;
    color: white !important;
}

.form-check {
    margin-left: 70px !important;
}

.btn-link {
    display: block;
    margin-left: 200px;
    margin-top: 20px;
}

