html,
body{
    font-family: 'Inconsolata', monospace;
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
}
.card-header {
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}

.card-body {
    background-color: rgb(255, 255, 255);
}

.form-control {
    border-radius: 100px !important;
    border-color: rgb(255, 255, 255);
    border: 0;
}